/*utilities*/
body {
    font-family: 'Roboto', '微軟正黑體', 'sans-serif';
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    line-height: 42px;
}
h2 {
    font-size: 64px;
    line-height: 75px;
}
a {
    text-decoration : none;
}
.mb-1 {
    margin-bottom: 8px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-5 {
    margin-bottom: 40px;
}
.bold {
    font-weight: bold;
}
.textCenter {
    text-align: center;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-space-around {
    justify-content: space-around;
}
.align-start {
    align-items: start;
}
.align-items-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.w-1200 {
    max-width: 1200px;
    margin: 0 auto;
}
/*header*/
.header {
    background: url(../images/banner.png) center center no-repeat;
    height: 100vh;
    width: auto;
    color: #ffffff;
}
.headerIntro h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 800;
}

.socialIcon {
    margin-top: 48px;
}
.socialIcon img {
    padding: 0 8px;
}
/*about*/
.about {
    padding: 64px 0 56px 0;
}
.circle {
    width: 22px;
    height: 22px;
    background: #981818;
    border-radius: 50%;
    margin-right: 16px;
}
.about ul {
    margin: 32px 0 52px 0;
}
.about li {
    display: flex;
    align-items: center;
}
/*brand*/
.brand {
    background: #000000;
    color: #fff;
    padding: 64px 0 160px 0;
}
/*Other Works*/
.other {
    padding-top: 64px;
}
.other p {
    padding: 24px 0 48px 0;
}
.other-bg {
    background: url(../images/other-bg.png) no-repeat center bottom;
    background-size: cover;
    margin-top: 80px;
    color: #fff;
    padding-bottom: 160px;
}
.image-top {
    margin-top: -80px;    
}
/*contact*/
.contact {
    background: #000000;
    color: #fff;
    padding: 64px 0 80px 0;
}
.contact a {
    color: #fff;
}